{% extends 'base.html %}
{% load static %} 

{% block title %}<h1>Todo List</h1>{% endblock %}
{% block content %}

<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="Submit" name="Create Task">
</form>

{% for todo in task %}
    <div>
        <a href="{% url 'update' todo.id %}">Update</a>
        <a href="{% url 'delete' todo.id %}">Delete</a>

        {% if todo.complete == True %}
            <strike>{{todo}}</strike>
        {% else %}
            <span>{{todo}}</span>
        {% endif %}

    </div>
{% endfor %}

{% endblock %}