@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   /** fonts **/
   --title: 'Roboto', serif;
   --main-font: 'Roboto', serif;
   --font: #000;
   
   /** colors**/
   --Background: #FFFFFF;
   --blue:var(#0c84b3);
   --turquoise:var(#10b981);
   --cream:var(#E8DFD9);

   /**utils**/
   --border: 2px solid #10b981;

}

html{
    height: 100vh;
  
}

body {
    background: white url("images/pexels-scottwebb.webp") no-repeat;
}

main{
    height: 75vh;
}

/**header **/
.navbar{
    background-color: var(--blue);
    
}

.input{
    border: solid 2px;
    border-color: #10b981;
    background-color: #10b981;
    margin-bottom: 20px;
}

.todo-list{
    background-color: var(--cream); 
    display: flex;
    justify-content:space-around;
}

.button {
    background-color: #0c84b3; 
    border: none;
    color: #E8DFD9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    
}
.text{
    font-size: 20px;
    margin: 5px;
    display:flex;
    justify-content:space-around;
    text-align: right;
}

/**Footer**/
footer{
    flex-shrink: 0;
    background-color: #0c84b3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;

}