{% load static %}

<header>
    
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="navbar-brand" href="#"><img src="{% static 'images/logo1.webp' %}" alt ="Taskify logo" class="logo"></a>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
        </li>
        
        {% endif %}
  </header>